ul {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

ul li {
  border-bottom: 1px solid #dbdbdb;
}

ul li a {
  display: block;
  padding: 15px;
}

ul li a:hover {
  background-color: hsl(0, 0%, 96%)	;
}
