.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-container::after {
  content: '';
  flex-grow: 9999;
}

.gallery-image {
  background-color: #ddd;
  height: 400px;
  min-width: 25%;
  flex-grow: 1;
  margin: 2px;
  position: relative;
}

.gallery-image img {
  animation: fade-in 300ms ease-out;
  cursor: pointer;
  height: 400px;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  transition: filter 300ms ease-out;
}

.gallery-image img:hover {
  filter: brightness(110%);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
